:root {
    --font-primary: 'Fira Sans', sans-serif;
    --font-secondary: monospace;
    --color-primary: #ff4d4d;
    --color-secondary: white;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-primary);
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
}

section {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    width: 100vw;
    padding: 5rem;
    text-align: center;
}

section.top-section {
    height: 100vh;
}

nav {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}

nav > img {
    height: 5rem;
    height: 5em;
}

.hero {
    width: 100%;
    max-width: 100rem;
    height: calc(100vh - 10rem);
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero-header > h1 {
    font-size: 10rem;
    font-weight: 900;
}

.hero-header > h2 {
    font-size: 6rem;
    font-weight: 900;
    margin-top: 1rem;
    line-height: 1.5;
}

.hero-prompt {
    
}

.hero-prompt > p {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: .3rem;
}

.hero-prompt > i {
    font-size: 5rem;
    margin-top: 1.54rem;
    animation-name: moveUpDown;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: all .3s;
}

.hero-prompt > i:hover {
    cursor: pointer;
    filter: brightness(90%);
}

section:not(:first-child) {
    padding: 7rem 5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h3 {
    font-size: 7rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem;
}

.text {
    max-width: 80rem;
    margin: 0 auto;
}

.text > p {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.5;
}

.text > p:not(:first-child) {
    margin-top: 2rem;
}

.section-prompt > p {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 5rem;
}

.section-prompt > i {
    font-size: 5rem;
    margin-top: 1rem;
    animation-name: moveUpDown;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: all .3s;
}

.section-prompt > i:hover {
    cursor: pointer;
    filter: brightness(90%);
}



.screen {
    background-color: var(--color-secondary);
    width: 80%;
    max-width: 80rem;
    min-height: 60vh; 
    margin: 5rem 0;
    border-radius: .5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.screen-nav {
    background-color: lightgray;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.screen-body {
    display: flex;
    flex: 1;
    margin-bottom: 1rem;
}

.circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0 .5rem;
}

.circle-red {
    background-color: var(--color-primary);
}
.circle-yellow {
    background-color: rgb(237, 237, 37);
}
.circle-green {
    background-color: rgb(43, 170, 43);
}

.display-screen-body {
    flex: 1;
    padding: 2rem;
}

.display-container {
    background-color: #e0bbe4;
    width: 100%;
    height: 100%;
}

.display-container-item {
    background-color: #957dad;
    width: 10rem;
    height: 10rem;
    border: 1px solid #724c98;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 200;
    z-index: 100;
}

.style-box {
    background-color: var(--color-secondary);
    width: 100%;
    padding: 2rem;
    margin-top: 2rem;
}

.style-box p {
    color: var(--color-black);
    font-family: var(--font-secondary);
    text-align: left;
    font-size: 2rem;
    line-height: 1.5;
}

.style-box-inner {
    padding: 0 4rem;
    text-align: left;
}

.style-box-inner > input {
    width: 100%;
    font-family: var(--font-secondary);
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border: .1rem solid gray;
    border-radius: .5rem;
    outline: none;
}

.buttons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--color-secondary);
    font-weight: 500;
    border: none;
    border-radius: .5rem;
    outline: none;
    transition: all .3s;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(90%);
}
.btn-positive {
    background-color: rgb(43, 170, 43);
}

.btn-negative {
    background-color: var(--color-primary);
}




.code {
    padding: .2rem .4rem;
    font-size: 2rem;
    border-radius: .5rem;
}

.code-red {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.code-white {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}


.red {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.white {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.bold {
    font-weight: 900;
}

.purple-light {
    color: #e0bbe4;
}

/* Animations */
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}

/* Media Queries */
@media only screen and (max-width: 800px) {
    nav {
        top: 2rem;
        left: 2rem;
    }
    .hero-header > h1 {
        font-size: 6rem;
    }
    .hero-header > h2 {
        font-size: 3rem;
        margin-top: 3rem;
    }
    .hero-prompt > p {
        font-size: 2rem;
    }
    h3 {
        font-size: 5rem;
    }
    .text p {
        font-size: 2.2rem;
    }
    .screen {
        width: 100%;
    }
  }

